<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>
	<title>My PR</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
	<div layout:fragment="content">
		<h2>My exercises</h2>

		<div class="col-lg-4 col-md-offset-4">

			<table class="table table-hover text-center">
				<thead>
				<tr>
					<th>Exercise</th>
					<th>Unit</th>
				</tr>
				</thead>
				<tbody>
				<tr th:each="exercise : ${exercises}">
					<td th:text="${exercise.name}"></td>
					<td th:text="${exercise.unit}"></td>
				</tr>
				</tbody>
			</table>

			<a href="/pr/exercise/new">Add an exercise</a>
		</div>
	</div>
</body>
</html>
